.manage-specialty-container {
  padding: 0 15px;
  .ms-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
  }
  .btn-save-specialty {
    cursor: pointer;
    padding: 5px 20px;
    margin-left: 0;
  }
}
