.preview-img-container {
  display: flex;
  .upload {
    padding: 5px;
    border-radius: 3px;
    background: #ddd;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .preview-img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
