.profile-doctor-container {
  margin-bottom: 20px;
  .intro-doctor {
    display: flex;
    .intro-doctor-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;

      .intro-doctor-left-avatar {
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .more-info {
        text-align: center;
        margin-top: 10px;
      }
    }
    .intro-doctor-right {
      width: 78%;
      margin: 5px 10px 0 30px;
      .intro-doctor-right-top {
        h2 {
          font-size: 20px;
          font-weight: 600;
          margin: 5px 0;
        }
        p {
          margin: 5px 0;
          font-weight: 400;
          font-size: 16px;
        }
      }
      .intro-doctor-right-bottom {
      }
    }
  }
}
