.section-medical-facility {
  margin: 20px 200px;
  .section-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    .section-title {
      font-size: 22px;
      font-weight: 600;
    }
    .section-btn {
      border: none;
      outline: none;
      border-radius: 3px;
    }
  }
  .section-body {
    &:hover {
      box-shadow: 0 0 10px 0 #bfe1e56a;
    }
    padding: 10px 0;
    .section-customize {
      cursor: pointer;
      .bg-img {
        margin-bottom: 10px;
        img {
          width: 360px;
          height: 200px;
          object-fit: cover;
          margin: 0 auto;
        }
      }
      span {
        font-weight: 600;
        margin-left: 10px;
      }
    }
  }
}

// Responsive

@media (max-width: 1550px) {
  .section-medical-facility {
    margin: 20px 20px;
  }
  h3 {
    font-size: 16px !important;
  }
}
