.section-specialty {
  background-color: #e9f7fe;
  margin: 50px 200px;
  .section-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    .section-title {
      font-size: 22px;
      font-weight: 600;
    }
    .section-btn {
      border: none;
      outline: none;
      border-radius: 3px;
    }
  }
  .section-body {
    padding: 10px 0;
    .section-customize {
      cursor: pointer;
      .bg-img {
        margin-bottom: 10px;
        img {
          width: 360px;
          height: 200px;
          object-fit: cover;
          margin: 0 auto;
        }
      }
      span {
        font-weight: 600;
        margin-left: 10px;
      }
    }
  }
}
