// Reset Slick Slider

.slick-prev {
  height: 45px !important;
  width: 40px !important;
  z-index: 10;
  margin-left: 20px !important;
  background: #45c3d2 !important;
  border: 1px solid #45c3d2 !important;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.slick-next {
  height: 45px !important;
  width: 40px !important;
  z-index: 10;
  margin-right: 20px !important;
  background: #45c3d2 !important;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
.slick-disabled {
  display: none !important;
}
//body-container
.body-container {
  .MedicalFacility {
    margin-bottom: 20px;
  }
}
